body {
  font-family: 'Noto Sans JP';
}
TR {
  background-color: cornsilk;
}
BODY {
  width: 80vw;
  margin-left: 10vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  border-left: solid;
  border-right: solid;
  border-color: lightyellow;
}

.lessstronger {
  font-size: 110%;
}
.lessweaker {
  font-size: 90%;
}
.importanttext {
  color: blue;
  font-size: 105%;
}
.centercell {
  text-align: center;
}
.rightcell {
  text-align: right;
}

.toplevel {
  font-size: 200%;
  color: orange;
  margin-bottom: 1rem;
}
.sectionlevel {
  font-size: 160%;
  color: sandybrown;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}
.paragraphlevel {
  font-size: 120%;
  color: salmon;
  margin-bottom: 0.25em;
}

.description {
  letter-spacing: 1px;
  margin-bottom: 0.5em;
}
.quote {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 2em;
  margin-right: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: lightgray;
  font-family: 'Sawarabi Mincho';
  font-size: 90%;
}
.jumpto {
  text-decoration: none;
  font-size: 90%;
}
.enumerate {
  color: darkviolet;
  padding: 8px 15px 8px 2em;
  display: inline-block;
  vertical-align: top;
  border-style: dotted;
  border-radius: 8px;
  border-color: darkviolet;
}
.errorenumerate {
  color: firebrick;
  padding: 8px 15px 8px 2em;
  display: inline-block;
  vertical-align: top;
  border-style: dashed;
  border-radius: 3px;
  border-color: firebrick;
}
.targetsite {
  font-size: 110%;
  color: olivedrab;
}

.targettitle {
  font-size: 200%;
  color: olivedrab;
  margin-bottom: 1rem;
}
.reviewsection {
  font-size: 160%;
  color: yellowgreen;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}
.reviewpartition {
  font-size: 110%;
  color: darkgreen;
  background: linear-gradient(lightyellow, greenyellow);
}
.reviewparagraph {
  color: darkolivegreen;
  font-weight: bold;
}
.wideimageblock {
  width: 95%;
  padding-left: 2%;
}
.wideimageblock img {
  width: 100%;
}
.seeyou {
  color: indigo;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration-line: underline overline;
  text-decoration-color: seagreen;
  text-decoration-style: wavy;
}
